@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

@media (min-width: 900px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex {
        display: flex;
    }
    
    .content {
        display: flex;
        justify-content: space-around;
    }

    .gedein {
        font-size: 70px;
        color: cyan;
        font-family: 'RocknRoll One', sans-serif;
    }
}

#artikel {
    min-height: 110px;
}

.tombol-artikel {
    cursor: pointer;
}

.font-size {
    font-size: 3vh;
}

.margin-padding-1{
    margin: 1rem;
    padding: 1rem;

}

.div-shadow {
    border-radius: 1rem;
    box-shadow: 10px 10px 2rem #888888;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
.black{
    background-color: rgba(0, 0, 0, 0.671);
    min-height: 100vh;
    
}
.wrapper {
    color: aliceblue;
    overflow: hidden;
    text-align: center;
    min-height: 100vh;
    background-size: cover;
    background-image: url('../images/index-wallpaper.jpg');
    background-repeat: no-repeat;
    filter: opacity(0.9);
    border-bottom: solid 5px rgb(0, 132, 255);
    margin-bottom: 30px;
}

h1 {
    margin-left: 25px;
    filter: drop-shadow(0px 8px 10px #000000);
    color: #004450;
    font-size: 35px;
    transition-duration: 1s;
}
.mb-15 {
    margin-bottom: 15vh;
}

h1:hover {
    transition: all;
    transition-duration: 1s;
    transform: translateX(-1rem);
}
    
.animate-h1 {
    animation-name: bayangan;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bayangan {
    0% {
        filter: drop-shadow(8px 8px 10px rgb(0, 153, 255));
    }
    100% {
        color: rgb(255, 255, 255);
        filter: drop-shadow(0px 1px 3px rgb(0, 162, 255));
    }
}

.arah-bawah {
    flex-direction: column;
    align-items: center;
}
    


.animationgedekecil {
    filter: drop-shadow(0px 0px 10px rgb(0, 195, 255));
    animation-name: bigger;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bigger {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.brad {
    border-radius: 50px;
    height: 40vh;
    margin-bottom: 3rem;
}


a {
    display: inline-block;
}

p {
    color: #004450;
}

.warna-putih {
    color: whitesmoke;
}