@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    margin: 0 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'RocknRoll One', sans-serif;
}

.posisi {
    position: absolute;
    top: 0;
    left: 0;
}
.posisi div.gif {
    position: absolute;
    top: 58vh;
    right: -28vh;
}

body {
    overflow: hidden;
}

.posisi h1 {
    padding-top: 10px;
    padding-left: 50px;
}

h1 {
    filter: drop-shadow(0px 8px 10px rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    font-size: 35px;
    transition-duration: 1s;
}

h1:hover {
    transition: all;
    transition-duration: 1s;
    transform: translateX(-40px);
}


.wrapper {
    min-height: 100vh;
    text-align: center;
    background-image: url('../images/index-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(0.9);
}

.animate-h1 {
    animation-name: bayangan;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bayangan {
    0% {
        filter: drop-shadow(8px 8px 10px rgb(0, 153, 255));
    }
    100% {
        color: rgb(255, 255, 255);
        filter: drop-shadow(0px 1px 3px rgb(0, 162, 255));
    }
}

.posisi span {
    font-size: 100px;
    color: cyan;
}

.buat-img img {
    padding-left: 25px;
    border-radius: 100px;
} 

.gedekecil {
    transform: translateY(65px);
}

.animationgedekecil {
    animation-name: bigger;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bigger {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
