.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    min-height: 300px;
    position: relative;
    max-width: 20rem;
    margin-bottom: 3rem;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-0.5rem) scale(1.0125);
  }

  .card-text {
    margin: 15px;
    font-size: 1.3rem;
  }

  .card-img {
    width: 20rem;
    height: 20rem;
  }