button {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-color: #3498db;
  color: #252525;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 250ms ease-in-out;
}

button:hover , .button-active {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: rgb(255, 255, 255);
  outline: 0;
}




#to-home {
  color: #252525;
  background-color: #3498db;
  padding: 12px;
  border-radius: 16px;
  transition: 0.2s;
}

#to-home:hover {
  color: aliceblue;
}





.text-animation {
  animation-name: bayangan;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bayangan {
  0% {
    filter: drop-shadow(8px 8px 10px rgb(0, 153, 255));
  }

  100% {
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 1px 3px rgb(0, 162, 255));
  }
}